h5 {
  color: green;
}

h6 {
  color: blue;
}
img.size {
  width: 150px;
  height: 150px;
  border: blue solid 3px;
}

img.online {
  width: 30px;
  height: 30px;
}

.numbers {
  color: red;
}

.title {
  color: #C77A39;
  background-color: #FFCE99;
  padding: 10px;
}
