<h2 class="title">Spencer Hasting's Friend Space</h2>
<h3>Spencer Hasting has <span class="numbers">352</span> Friends</h3>

<div class="row">

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" /><br>
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

</div>

<div class="row">

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>

  <div class="col-sm-3 text-center">
    <h6>Allison</h6>
    <img src="img/kid.jpg" alt="kid" class="size" />
    <h5><img src="img/profile.png" alt="profile" class="online"/>Online Now!</h5>
  </div>
</div>

<h5 class="friends">View All of Spencers Hasting's Friends</h5>
