<div class="border">
<div class="box1">
  <div class="lemon">
    <h2 class="text-lemon">A Centered Lemon</h2>
    <img src="img/lemon.png" alt="lemon" />
    <h4 class="box">Note the left alignment of this Banksy polaroid kale food truck.</h4>
  </div>
</div>

<div class="text">
  <h5 class="abc text-center">ABC<span class="text-right">123</span></h5>
  <div class="text-padding">
    <h3>Note the center alignment of this Bushwick pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee apparel.</h3>
  </div>
</div>
</div>
