<h1 class="text-center kascading">Hey ya'll, we be <span class="numbers">kascading</span>!</h1>
<div class="container-images">
  <img class="image hover" src="img/boy.jpg" alt="boy"/>
  <img class="image2 hover" src="img/hands.jpg" alt="hands"/>
  <img class="image3 hover" src="img/lips.jpg" alt="lips"/>
  <img class="image4 hover" src="img/girl3.jpg" alt="lips"/>
  <img class="image5 hover" src="img/couple.jpg" alt="couple"/>
  <img class="image6 hover" src="img/girl.jpg" alt="girl"/>
  <img class="image7 hover" src="img/girl2.jpg" alt="girl2"/>
  <img class="image8 hover" src="img/man.jpg" alt="man"/>
  <img class="image9 hover" src="img/girl4.jpg" alt="girl3"/>
  <img class="image10 hover" src="img/jackson.jpg" alt="michael"/>

</div>
